.product {
    display: flex;
    align-items: center;
    justify-content: center;
}

.products_img {
    max-width: 600px;
    margin: 30px;
    border-radius: 10px;
    border: 1px solid rgb(235, 235, 235);
}

.product_name {
    font-size: 50px;
    font-family: var(--titleFont);
    color: var(--textColorTwo);
}

.product_price {
    font-size: 15px;
    padding: 8px 0px;
    font-family: var(--bodyFont);
    color: var(--textColorTwo);
}

.product_info {
    padding: 20px;
}

.products_desc {
    background-color: rgb(244, 244, 244);
    padding: 20px;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    margin: 20px 0px;
    font-family: var(--bodyFont);
    color: var(--textColorTwo);
    max-width: 700px;
}

.buy_btn {
    background-color: #b7dd9b;
    border: 1px solid;
    width: 150px;
    height: 40px;
    margin: 15px 0px;
    font-size: 17px;
    border-radius: 5px;
    color: var(--textColorOne);
}

.details {
    font-size: 13px;
    min-width: 700px;
    padding: 8px 0px;
    cursor: pointer;
    margin-bottom: 50px;
}

.shipping {
    font-size: 13px;
    min-height: 20px;
    padding: 8px;
    background-color: rgb(247, 247, 247);
    cursor: pointer;
    border: 1px solid rgb(235, 235, 235);
    margin-bottom: 5px;
    border-radius: 10px;
    color: var(--textColorTwo);
}

ol {
    list-style-type: none;
    margin: 0px;
    padding: 8px 20px;
}

.returns {
    font-size: 13px;
    min-height: 20px;
    padding: 8px;
    background-color: rgb(247, 247, 247);
    cursor: pointer;
    border: 1px solid rgb(235, 235, 235);
    border-radius: 10px;
    color: var(--textColorTwo);
}

.reviews {
    background-color: rgb(244, 244, 244);
    padding: 20px;
    border: 1px solid rgb(235, 235, 235);
    margin-top: 50px;
    color: var(--textColorTwo);
}

.reviews_title {
    font-size: 25px;
    margin: 20px;
    text-align: center;
    font-family: var(--titleFont);
    color: var(--textColorTwo);
}

.review_btn {
    background-color: #b7dd9b;
    border: 1px solid;
    width: 150px;
    height: 40px;
    margin-top: 10px;
    font-size: 17px;
    border-radius: 5px;
    color: #ffffff;
    font-family: var(--bodyFont);

}

summary {
    cursor: pointer;
    color: var(--textColorTwo);
    font-family: var(--titleFont);
    font-size: 15px;
}

.similar_products_title {
    font-size: 25px;
    margin: 20px;
    text-align: center;
    font-family: var(--titleFont);
    color: var(--textColorTwo);
}   

.similar_products_container {
    display: flex;
    white-space: nowrap;
    overflow: auto;
    background: white;

}


@media screen and (max-width: 1000px) {
    .product {
        flex-direction: column;
    }

    .products_img {
        margin: 10px;   
        max-width: 90vw;
    }

    .products_desc {
        padding: 20px;
    }
    .similar_products_container {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .details     {
        min-width: 90vw;
    }
    
}


