/************** MOBILE MENU **************/

.mobileNav {
  position: fixed;
  width: 0;
  height: 100vh;
  top: 0;
  left: 0;
  background: var(--textColorOne);  
  transition: width 0.1s ease; 
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-evenly;
  overflow: hidden;
}

.mobileNav ul {
  list-style: none;
  padding: 0;
  margin: 0; 
  display: flex;
  flex-direction: column;
  width: 100%;
  text-align: center;
}

.mobileNav ul li {
  margin: 5px;
}

.mobileNav ul li a {
  color: var(--textColorTwo); 
  text-decoration: none;
  transition: color 0.1s ease;
  font-size: 22px;
  font-family: var(--titleFont);
}
.mobileNav > ul > .under_menu > a {
  color: var(--textColorTwo); 
  text-decoration: none;
  transition: color 0.1s ease;
  font-size: 18px;
  font-family: var(--titleFont);
  font-weight: 100;
}

.mobileNav ul li a:hover {
  color: #ccc;
}


.overlay {
  position: fixed;
  width: 0;
  height: 100vh;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5); 
  z-index: 100; 
  transition: width 0.1s ease; 
}

.logo1 {
  transition: 0.1s;
  font-family: var(--titleFont);
  font-size: 9.5px;
  letter-spacing: 8px;
  margin-bottom: -2px;
  color: var(--textColorTwo);
  padding-left: 3px;
}

.logo2 {
  transition: 0.1s;
  font-family: var(--titleFont);
  font-size: 21px;
  color: var(--textColorTwo);
}

.line {
  width: 70%;
  height: 0.1px;
  color: lightgray;
}

.social {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 75px;
}

.social_logo {
  width: 25px;
}


@media screen and (max-width: 768px) {
  .mobileNav {
    width: 50%;
  }

  .overlay {
    width: 50%;
  }
}