@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";


.card {
    background-color: $bgColorCard;
    width: 320px;
    height: 420px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 2px $bgColorCard;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sweaters {
    max-width: 310px;
    padding: 5px 5px 0px 5px;
    border-radius: 10px 10px 0px 0px;
    transition: transform 0.3s ease-in-out;
    height: auto; /* Adjust height as necessary */
}

.shrink {
    transform: scale(0.98); /* Shrinks the image to 95% of its original size */
}


.star {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product__company {
    font-size: 8px;
    padding-left: 10px;
    font-family: $bodyFont;
     color: $textColorTwo;
     margin-bottom: 20px;
     pointer-events: none;
}


.product__info {
    @include flex-center;
    flex-direction: column;

}

.product__name {
    font-size: 20px;
    padding: 5px;
    font-family: $titleFont;
    color: $textColorTwo;
    
}

.product__price {
    font-size: 13px;
    font-weight: 100;
    color: $textColorTwo;
    font-family: $bodyFont;
    pointer-events: none;
}

.product__section {
    position: relative;
}

.product__button {
    background: $textColorOne;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    margin: 10px 0px;
    font-family: $titleFont;
    color:  $textColorTwo;
    cursor: pointer;
    transition: 0.3s;
}

.product__button:hover {
    background: $textColorTwo;
    color: $textColorOne;
    transform: scale(1.05);
}

  
@media screen and (max-width: 690px) {
    .card {
        width: 190px;
        height: 280px;
        margin: 10px 5px;
        box-shadow: 0px 0px 5px 1px rgb(218, 218, 218);
     }
     .sweaters {
        width: 185px;
        height: 195px;
        padding: 2.5px 5px 0px 5px;
        border-radius: 12.5px 12.5px 0px 0px;
     }

     .product__name {
        font-size: 15px;
        padding: 0px;
    }

    .product__company {
        font-size: 7px;
        padding-left: 4px;
        font-family: $bodyFont;
         color: $textColorTwo;
         margin-bottom: 20px;
    }

    .product__button {
        width: 150px;
        height: 30px;
        margin: 5px;
        padding: 0;
        font-family: $titleFont;
    }
    
    .product__price {
        font-weight: 100;
    }
    .product__badge {
        font-size: 5.5px;
        font-weight: 700;
        color: $textColorOne;
    }

    .product__size {
    display: none;
    }

  }

  @media screen and (max-width: 412px) {
    .card {
        width: 165px;
        height: 250px;
        margin: 10px 5px;
        box-shadow: 0px 0px 5px 1px rgb(218, 218, 218);
     }
     .sweaters {
        width: 160px;
        height: 160px;
     }
     .product__name {
        font-size: 13px;
        padding: 0px;
    }

       .product__company {
        font-size: 7px;
        padding-left: 4px;
        font-family: $bodyFont;
         color: $textColorTwo;
         margin-bottom: 20px;
    }

    .product__button {
        width: 150px;
        height: 30px;
        margin: 5px;
        padding: 0px;
    }
    
    .product__price {
        font-size: 13px;
        font-weight: 100;
        font-family: $bodyFont;
    }
    .product__badge {
        display: none;
    }

    .product__size {
    display: none;
    }


  }
