
.card {
    background-color: rgb(241, 241, 241);
    width: 320px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0px 0px 50px 15px rgb(199, 199, 199);
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sweaters {
    max-width: 300px;
    padding: 10px 10px 0px 10px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
    height: auto; /* Adjust height as necessary */
}

.shrink {
    transform: scale(0.98); /* Shrinks the image to 95% of its original size */
}

.product__badge {
        position: absolute;
        top: 14px;
        left: 14px;
        border: none;
        background-color: lightgrey;
        color: white;
        padding: 5px 7px;
        border-radius: 2px;
        font-weight: bold;
        font-size: xx-small;
        z-index: 1;
}

.star {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product__company {
    font-size: 8px;
    padding-left: 10px;
}


.product__info {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.product__name {
    font-size: 20px;
    padding: 5px;
}

.product__price {
    font-size: 14px;
    font-weight: 100;
}

.product__size {
    padding: 2px;
    border-radius: 10px;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 45px;
    position: absolute;
    top: 18px;
    right: 18px;
    border: 1px dotted gray;
}

.product__section {
    position: relative;
}

.product__button {
    background: white;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    margin: 15px;
}

  
@media screen and (max-width: 690px) {
    .card {
        width: 200px;
        height: 310px;
        margin: 10px 5px;
     }
     .sweaters {
        width: 180px;
     }
     .product__name {
        font-size: 13px;
        padding: 0px;
    }

    .product__company {
        font-size: 8px;
        padding: 5px;
    }
    .product__button {
        width: 150px;
        height: 30px;
        margin: 5px;
        padding: 0;
    }
    
    .product__price {
        font-size: 13px;
        font-weight: 100;
    }
    .product__badge {
        font-size: 5.5px;
        font-weight: 700;
        color: white;
    }

    .product__size {
    display: none;
    }

  }

  @media screen and (max-width: 412px) {
    .card {
        width: 180px;
        height: 280px;
        margin: 5px 3px;
     }
     .sweaters {
        width: 160px;
     }
     .product__name {
        font-size: 13px;
        padding: 0px;
    }

    .product__company {
        font-size: 8px;
        padding: 5px;
    }
    .product__button {
        width: 150px;
        height: 30px;
        margin: 5px;
        padding: 0;
    }
    
    .product__price {
        font-size: 13px;
        font-weight: 100;
    }
    .product__badge {
        display: none;
    }

    .product__size {
    display: none;
    }


  }
