
.header {
    background: var(--mainColor);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: 0.4s;
    width: 100%;
    z-index: 9;
    border-bottom: 0.1px solid rgb(255, 255, 255);
}

.cart_container {
    position: relative;
    cursor: pointer;
  }

  .cart_count {
    position: absolute;
    top: 10px;
    right: -5px;
    background-color: black;
    color: var(--textColorOne);
    font-size: 8px;
    font-weight: bold;
    padding: 2px 6px;
    border-radius: 50%;
    z-index: 10;
    border: 1px solid orange;
  }

.menu, .menu_black {
    cursor: pointer;
    margin-left: 20px;
    width: 15px;
}

.menu, .cart, .heart {
    display: none;
}


.cart, .heart, .cart_black, .heart_black {
    width: 20px;
    height: 20px;

}
.symbols {
    display: flex;
    gap: 1.5rem;
    padding-right: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 2.5rem;
}



a {
    text-decoration: none;
    color: var(--textColorOne);
    font-family: var(--titleFont);
    font-size: 18px;
    font-weight: 800;
    transition: 0.4s;
}


.logo1 {
    transition: 0.4s;
    font-family: var(--titleFont);
    width: 50px;
    font-size: 9.5px;
    padding-left: 22px;
    letter-spacing: 8px;
    margin-bottom: -2px;
    color: var(--textColorTwo);
}

.logo2 {
    transition: 0.4s;
    font-family: var(--titleFont);
    width: 50px;
    font-size: 21px;
    padding-left: 20px;
    color: var(--textColorTwo);
}





@media screen and (max-width: 500px) {
    nav > ul > li > a {
        font-size: 13px;
    }


 

    ul {
        gap: 1rem;
    }

  }


@media screen and (max-width: 412px) {
    nav > ul > li > a {
        font-size: 11px;
        
    }

    ul {
        display: flex;
        list-style-type: none;
        gap: 0.5rem;
    }

  }

