
.header {
    background: var(--mainColor);
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    transition: 0.4s;
    width: 100%;
    z-index: 1000;
    border-bottom: 0.1px solid rgb(255, 255, 255);

}

.hamburger_menu {
    display: none;
    cursor: pointer;
}


.cart, .heart {
    width: 20px;


}
.symbols {
    display: flex;
    gap: 1.5rem;
    padding-right: 20px;
}

ul {
    display: flex;
    list-style-type: none;
    gap: 2.5rem;
}



a {
    text-decoration: none;
    color: var(--textColorOne);
    font-family: var(--titleFont);
    font-size: 20px;
    font-weight: 800;
    transition: 0.6s;
}


.logo1 {
    transition: 0.6s;
    font-family: var(--titleFont);
    width: 50px;
    font-size: 15px;
    padding-left: 22px;
    letter-spacing: 8px;
    margin-bottom: -3px;
}

.logo2 {
    transition: 0.6s;
    font-family: var(--titleFont);
    width: 50px;
    font-size: 25px;
    padding-left: 20px;

}





@media screen and (max-width: 500px) {
    nav > ul > li > a {
        font-size: 13px;
    }



    .hamburger_menu {
        display: block;
        width: 15px;
    }

    .nav_ul {
        display: none;
    }

    ul {
        gap: 1rem;
    }

  }


@media screen and (max-width: 412px) {
    nav > ul > li > a {
        font-size: 11px;
        
    }

    ul {
        display: flex;
        list-style-type: none;
        gap: 0.5rem;
    }

    .logo {
        width: 90px;
        margin: 0;
    }


    .hamburger_menu {
        display: block;
    }

    .nav_ul {
        display: none;
    }

  }

