
.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 0px;
}

.cards_title {
    font-size: 30px;
    margin: 40px 0px 10px 0px;
    text-align: center;
}


@media screen and (max-width: 1050px) {
    .cards-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  }
  
@media screen and (max-width: 690px) {
    .cards-list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

  }


  
  

