
.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards_list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 20px 0px;
}

.cards_title {
    font-size: 30px;
    margin: 40px 0px 10px 0px;
    text-align: center;
    color: var(--textColorTwo);
    font-family: var(--titleFont);
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.product_desc {
    font-size: 15px;
    text-align: center;
    color: var(--textColorTwo);
    font-family: var(--bodyFont);
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


@media screen and (max-width: 1050px) {
    .cards_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  }
  
@media screen and (max-width: 690px) {
    .cards_list {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

  }



  
  

