.slideshow {
    width: 10px;
    height: 10px;
    padding: 2px;
    border-radius: 50%;
    margin: 10px;
    cursor: pointer;
}   

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row-reverse;
    height: 80vh;
    margin: 0;
    padding: 0;
}

.hero__desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
    padding: 0;
 
}

.hero_title {
    color: var(--textColorTwo);
    font-family: var(--titleFont);
    font-size: 42.5px;
}

.hero_undertitle {
color: var(--textColorTwo);
font-family: var(--titleFont);
font-size: 32.5px;
letter-spacing: 6px;
}

.tag {
    font-size: 9px;
    margin: 5px 0px 30px 0px;

}

.slides {
max-width: 620px;
}

.hero__btn {
    background-color: var(--mainColor);
    padding: 7px;
    border-radius: 5px;
    list-style-type: none;
    width: 110px;
    text-align: center;
    }

    .hero__btn > a {
        font-family: var(--titleFont);
        font-size: 14px;
        color: var(--textColorOne);
        }


.hero__btn_mobile {
    background-color: var(--mainColor);
    padding: 7px;
    border-radius: 5px;
    list-style-type: none;
    width: 110px;
    text-align: center;
    display: none;
    }

    .hero__btn_mobile > a {
        font-family: var(--titleFont);
        font-size: 14px;
        color: var(--textColorOne);
        display: none;
        }

.btn {
    background-color: var(--mainColor);
    border-radius: 5px;
    width: 110px;
    text-align: center;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;

    }

    .btn > a {
        font-family: var(--titleFont);
        font-size: 12px;
        padding: 0px;
        }



.hero_products {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    background-color: rgba(246, 246, 246, 0.613);
}

    
h3 {
    margin-bottom: 30px;
    color: var(--textColorTwo);
}

.banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
    background-color: var(--bannerColor);
}

.banner > h2 {
    font-family: var(--titleFont);
    color: var(--textColorOne);
    font-size: 20px;
}



.hero_images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    margin: 5px;

}

.hero_image1 {
    width: 100%;
    position: relative;
    cursor: pointer;
    line-height: 0;
    display: flex;
}

.hero_image_title {
    color: var(--textColorOne);
    position: absolute;
    bottom: 15px;
    left: 15px;
    font-family: var(--bodyFont);
    font-size: 15px;
    font-weight: 100;

}

.hero_image_arrow {
    width: 17px;
    margin: 5px 10px -2px 10px;
}

.hero_lifestyle_img {
    width: 100%;
}


@media screen and (max-width: 850px) {
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 80vh;
    }

    .hero__btn_mobile {
        display: block;
    }

    .hero__btn_mobile > a {
        display: block;
        }

    .hero__btn {
        display: none;
    }

    .slides {
        width: 420px;
    }

    .hero__btn {
        margin: 0 auto;
        }

    .hero_undertitle, .tag {
        text-align: center;
        }
            
        .hero_image_title {
            color: var(--textColorOne);
            font-size: 11px;
            position: absolute;
            bottom: 10px;
            left: 5px;
        }

        .hero_image_arrow {
            width: 14px;
            margin: 0px 5px -2px 5px;
        }

            .banner > h2 {
                font-family: var(--titleFont);
                color: var(--textColorOne);
                font-size: 15px;
            }
 
}

@media screen and (max-width: 375px) {
    .hero {
        height: 90vh;
    }
}