

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

  @media screen and (max-width: 850px) {
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
}


.hero__img {
width: 620px;
}


  
  @media screen and (max-width: 850px) {
    .hero__img {
        width: 420px;

    }
}


.hero__btn {
background-color: lightgray;
padding: 12px;
border-radius: 10px;
list-style-type: none;
width: 150px;
}



h3 {
    margin-bottom: 30px;
}

