

.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

@media screen and (max-width: 850px) {
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
  }

  @media screen and (max-width: 600px) {
    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

    }
}


.hero__img {
width: 620px;
height: auto;
}


  
  @media screen and (max-width: 600px) {
    .hero__img {
        width: 380px;
        margin-top: 50px;
        margin-bottom: 50px;
        height: auto;
    }
}


.hero__btn {
background-color: lightgray;
padding: 12px;
border-radius: 10px;
}



h3 {
    margin-bottom: 30px;
}

